<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" type="text/css" href="/header.css">
        <link rel="stylesheet" type="text/css" href="/edit.css">
    </head> 
    <%- include('header.ejs') %>
    <body>  
        <% if (car) { %>
        <form class="edit_form" enctype="multipart/form-data" action="/edit" method="POST">
            <h1>Редактирование автомобиля: <%= car.brand + ' ' + car.model %></h1>
            <div>
                <input name="brand" placeholder="Марка" value="<%= car.brand %>" required>
            </div>
            <div>
                <input name="model" placeholder="Модель" value="<%= car.model %>" required>
            </div>
            <div>
                <input name="carBody" placeholder="Кузов" value="<%= car.carBody %>" required>
            </div>
            <div>
                <%     
                    const date = car.year;
                    const year = `${date.getFullYear()}`;
                    let month;
                    if (date.getMonth() + 1 < 10) {
                        month = `0${date.getMonth() + 1}`;
                    } else {
                        month = `${date.getMonth() + 1}`;
                    }
                    let day;
                    if (date.getDate() + 1 < 10) {
                        day = `0${date.getDate() + 1}`;
                    } else {
                        day = `${date.getDate() + 1}`;
                    }
                    let hours;
                    if (date.getHours() < 10) {
                        hours = `0${date.getHours()}`;
                    } else {
                        hours = `${date.getHours()}`;
                    }
                    let minutes;
                    if (date.getMinutes() < 10) {
                        minutes = `0${date.getMinutes()}`;
                    } else {
                        minutes = `${date.getMinutes()}`;
                    }
                    let timeFormatString = `${year}-${month}-${day}T${hours}:${minutes}`;
                %>
                <input type="datetime-local" name="year" placeholder="Год выпуска" value="<%= timeFormatString %>" required>
            </div>
            <div>
                <input name="transmission" placeholder="Коробка передач" value="<%= car.transmission %>" required>
            </div>
            <div>
                <select name="engine">
                    Тип двигателя
                    <option value="gas" <% if (car.engine == "Бензин") { %> selected <% } %> >Бензин</option>
                    <option value="electro" <% if (car.engine == "Электро") { %> selected <% } %> >Электро</option>
                    <option value="hybrid" <% if (car.engine == "Гибрид") { %> selected <% } %> >Гибрид</option>
                    <option value="diesel" <% if (car.engine == "Дизель") { %> selected <% } %> >Дизель</option>
                </select>
            </div>
            <div>
                <input class="file" type="file" name="file" placeholder="Прикрепить фото">
            </div>
            <button type="submit">Изменить</button>
        </form>
        <% } %>
    </body>
</html>